services:
  # BACKEND Development
  backend-dev:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
    depends_on:
      - redis
    networks:
      - backend_network
    command: npm run dev
    profiles: ["dev"]
  
  # BACKEND Production
  backend:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env    
    environment:
      - NODE_ENV=production
    depends_on:
      - redis
    networks:
      - backend_network
    command: npm run start
    profiles: ["prod"]

  redis:
    image: "redis:alpine"
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - backend_network

networks:  
  backend_network:    
    name: backend-network
