body {
	margin: 0;
	min-height: 100vh;
	height: 100%;
}

#app {
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}

html{
	height: 100%;
}